
  img{
    width: 500px;
    
}

.back{
background-image: url("raoul-droog-yMSecCHsIBc-unsplash.jpg");
				/* background-color: black; */
				background-size:cover;
}

.divBack{
    background-color: whitesmoke;
    
}

body{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.formy{
    max-width: 40em;
    justify-content: center;
}